@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-primary-background: var(--primary-background);
  --color-primary-background-peach: var(--primary-background-peach);
  --color-secondary-background-blue: var(--secondary-background-blue);
  --color-secondary-background-purple: var(--secondary-background-purple);
  --color-secondary-background-offwhite: var(--secondary-background-offwhite);
  --color-secondary-background-white: var(--secondary-background-white);
  --color-secondary-background-gray: var(--secondary-background-gray);
  --color-secondary-background-darkgray: var(--secondary-background-darkgray);
  --color-foreground: var(--foreground);
  --color-body-foreground: var(--body-foreground);
  --color-nav-foreground: var(--nav-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-bold: var(--primary-bold);
  --color-primary: var(--primary);
  --color-primary-blue1: var(--primary-blue1);
  --color-primary-magenta1: var(--primary-magenta1);
  --color-primary-analogous-blue1: var(--primary-analogous-blue1);
  --color-primary-analogous-magenta1: var(--primary-analogous-magenta1);
  --color-primary-muted-400: var(--primary-muted-400);
  --color-primary-muted-300: var(--primary-muted-300);
  --color-primary-muted-200: var(--primary-muted-200);
  --color-primary-muted-100: var(--primary-muted-100);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-button: var(--primary-button);
  --color-primary-blue2: var(--primary-blue2);
  --color-primary-magenta2: var(--primary-magenta2);
  --color-primary-analogous-blue2: var(--primary-analogous-blue2);
  --color-primary-analogous-magenta2: var(--primary-analogous-magenta2);
  --color-primary-button-variant: var(--primary-button-variant);
  --color-primary-button-foreground: var(--primary-button-foreground);
  --color-secondary-button: var(--secondary-button);
  --color-secondary-button-foreground: var(--secondary-button-foreground);
  --color-secondary-bold: var(--secondary-bold);
  --color-secondary: var(--secondary);
  --color-secondary-muted-400: var(--secondary-muted-400);
  --color-secondary-muted-300: var(--secondary-muted-300);
  --color-secondary-muted-200: var(--secondary-muted-200);
  --color-secondary-muted-100: var(--secondary-muted-100);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-enhance-foreground: var(--accent-enhance-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-background: var(--sidebar-background);
}

:root {
  --radius: 0.625rem;
  --primary-background: oklch(1 0 0);
  --primary-background-peach: oklch(0.9557 0.012 67.68);
  --secondary-background-blue: oklch(0.8615 0.0436 246.18);
  --secondary-background-purple: oklch(0.9056 0.0339 310.7);
  --secondary-background-offwhite: oklch(0.9702 0 0);
  --secondary-background-white: oklch(0.9551 0 0);
  --secondary-background-gray: oklch(0.9249 0 0);
  --secondary-background-darkgray: oklch(0.9006 0 0);
  --foreground: oklch(0.2038 0.0067 258.37);
  --body-foreground: oklch(0.3855 0.0167 262.29);
  --nav-foreground: oklch(0.3486 0.0054 271.26);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2038 0.0067 258.37);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2038 0.0067 258.37);
  --primary-bold: oklch(0.31 0.1055 306.54);
  --primary: oklch(0.3755 0.1244 306.2);
  --primary-blue1:oklch(0.3366 0.1231 279.28);
  --primary-magenta1:oklch(0.4211 0.1377 329.32);
  --primary-analogous-blue1: oklch(0.4105 0.0785 253.61);
  --primary-analogous-magenta1:oklch(0.4036 0.1106 354.63);
  --primary-muted-400: oklch(0.57 0.1895 306.33);
  --primary-muted-300: oklch(0.68 0.1373 305.32);
  --primary-muted-200: oklch(0.8 0.0838 305.35);
  --primary-muted-100: oklch(0.9135 0.0308 302.28);
  --primary-foreground: oklch(1 0 0);
  --primary-button: oklch(0.4385 0.1483 306.24);
  --primary-button-foreground: oklch(1 0 0);
  --primary-button-variant: oklch(0.4211 0.1377 329.32);
  --secondary-button: oklch(1 0 0);
  --secondary-button-foreground: oklch(0.4385 0.1483 306.24);
  --primary-blue2:oklch(0.3918 0.1468 279.11);
  --primary-magenta2:oklch(0.4928 0.1637 329.48);
  --primary-analogous-blue2: oklch(0.479 0.094 253.91);
  --primary-analogous-magenta2:oklch(0.4718 0.1317 355);
  --secondary-bold: oklch(0.637 0.1361 59.41);
  --secondary: oklch(0.71 0.1512 59.2);
  --secondary-muted-400: oklch(0.68 0.157 39.41);
  --secondary-muted-300: oklch(0.74 0.1376 47);
  --secondary-muted-200: oklch(0.83 0.1001 51.5);
  --secondary-muted-100: oklch(0.8958 0.060272 52.3123);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(1 0 0);
  --accent-foreground: oklch(0.4211 0.1377 329.32);
  --accent-enhance-foreground: oklch(0.7826 0 0); 
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.8879 0.0018 247.84);
  --input: oklch(0.8879 0.0018 247.84);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.24 0.01 306);
  --sidebar-primary: oklch(0.3755 0.1244 306.2);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.84 0.02 306);
  --sidebar-accent-foreground: oklch(0.3755 0.1244 306.2);
  --sidebar-border: oklch(0.8879 0.0018 247.84);
  --sidebar-ring: oklch(0.708 0 0);
  --sidebar-background: oklch(0.90 0.01 306);
}

.dark {
  --background: oklch(0.2038 0.0067 258.37);
  --foreground: oklch(1 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.8879 0.0018 247.84);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-sidebar-background text-body-foreground;
  }
}
